@import './src/styles/colors.scss';

.main-container {
  width: 50%;
  background-color: #191b1f;
  border-radius: 2rem;
}

@media only screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

.element {
  display: flex;
  margin: 1rem;
  text-align: left;
}

.paste-label {
  font-size: 1.25rem;
  padding: 0 0.5rem;
}

.address-input {
  width: 100%;
  background-color: $dark1;
  height: 4rem;
  border: 1px solid $dark2;
  border-radius: 1rem;
  font-size: 2rem;
  color: #65676c;
  padding: 0 0.5rem;
}

.address-input:focus {
  outline: 0;
}

.search-button {
  width: 100%;
  height: 4rem;
  background-color: $link-blue-dark;
  border: 0;
  border-radius: 1rem;
  color: $link-blue;
  cursor: pointer;
  font-size: 1.25rem;
  transition: color .15s ease-out;
  transition: background-color .15s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button:hover {
  color: $link-blue-hover;
  background-color: $link-blue-dark-hover;
}

.search-button-clicked {
  cursor: not-allowed;
  color: $dark1;
  background-color: $gray1 !important;
}

.search-button-clicked:hover {
  color: $dark1;
  background-color: $gray1 !important;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
